<h1>MI HOLA MUNDO EN RUBY ON RAILS</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h2> APRENDIZ: <%= @aprendiz%></h2>


<% @limite.times do %>
<p> <%= @mensaje %></p>
<% end %>
<footer> By: <%= @aprendiz%></footer>