<!DOCTYPE html>
<html>
<head>
  <title>Hola otra vista de bienvenida</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<header>
  <h1> APRENDIENDO DE CODIGO FACILITO 2</h1>
</header>
<body>
<%= yield %>
</body>
</html>
